.display {
  font-weight: 700;
  font-size: 40px;
  line-height: 37px;
  letter-spacing: -0.666667px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outputContainer {
  background: #181f33;
  border-radius: 10px;
  height: 88px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
  overflow: hidden;
  padding-left: 24px;
}

@media screen and (min-width: 1440px) {
  .outputContainer {
    padding-right: 32px;
    padding-left: 32px;
    width: 540px;
    height: 128px;
  }

  .display {
    font-size: 56px;
    line-height: 52px;
    letter-spacing: -0.933333px;
  }

  
}
