/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  background: hsl(222, 26%, 31%);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  letter-spacing: -0.533333px;
  color: #ffffff;
}

header {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}

header span {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 1px;
}

.themeContainer {
  display: flex;
  align-items: center;
  gap: 26px;
}

.themeTxt {
  margin-top: auto;
  margin-bottom: 7px;
}


@media screen and (min-width: 1440px) {
  header {
    width: 533px;
    margin-left: 7px;
  }

  h1 {

    margin-bottom: 1px;
  }
}
